trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  TF_VERSION: "1.6.0"

stages:
- stage: Validate
  jobs:
  - job: TerraformValidate
    steps:
    - task: Bash@3
      displayName: Install Terraform
      inputs:
        targetType: inline
        script: |
          curl -fsSL https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip -o terraform.zip
          unzip terraform.zip
          sudo mv terraform /usr/local/bin/
          terraform version

    - task: Bash@3
      displayName: Terraform Validate
      inputs:
        targetType: inline
        script: |
          terraform init -backend=false
          terraform validate

- stage: Plan
  dependsOn: Validate
  jobs:
  - job: TerraformPlan
    steps:
    - task: Bash@3
      displayName: Terraform Plan
      inputs:
        targetType: inline
        script: |
          terraform init
          terraform plan

- stage: Apply
  dependsOn: Plan
  jobs:
  - job: TerraformApply
    steps:
    - task: Bash@3
      displayName: Terraform Apply
      inputs:
        targetType: inline
        script: |
          terraform init
          terraform apply -auto-approve
